name: Build and push runner images

on:
  push:
    branches-ignore:
      - "*-skip-build"
  schedule:
    - cron: "0 8 * * 1" # every Monday at 8am

permissions:
  id-token: write
  contents: read

jobs:
  latest:
    name: Build and push 'latest' image
    uses:
      ./.github/workflows/_docker-build.yml
    secrets: inherit

  playwright:
    name: Build and push 'playwright' image
    uses:
      ./.github/workflows/_docker-build.yml
    with:
      dockerfile: playwright.Dockerfile
      trivyignore: .trivyignore-playwright
      feature-branch-image-tag: playwright-v1.56.1
      default-branch-image-tag: playwright-v1.56.1
      trivy-severity: "CRITICAL,HIGH"
    secrets: inherit
